{% extends "base.html" %}

{% load static %}

{% url 'contact_us' as contact_us_url %}
{% url 'sponsors' as sponsors_url %}
{% url 'registration' as registration_url %}

{% block content %}

<section id="schedule-title">
    <div class="container-fluid">
        <div class="row my-5 justify-content-center mt-4 animate__animated animate__zoomIn animate__slow">
            <div class="col-9">
                <h1 class="my-5">Επιστημονικό Πρόγραμμα Συνεδρίου</h1>
            </div>
        </div>
    </div>
</section>

<section id="schedule"></section>


<section id="cta-links">
    <div class="col d-flex flex-column align-items-center flex-md-row justify-content-around my-5">
        <a href="{% url 'sponsors' %}" class="btn btn-light cta-btn">ΧΟΡΗΓΟΙ ΚΑΙ ΥΠΟΣΤΗΡΙΚΤΕΣ</a>
        <a href="https://registrations.oracleartvision.gr/registration-form-medical-conference-of-the-association-of-parents-friends-of-children-with-heart-disease/ " target=_blank class="btn btn-light cta-btn">ΕΓΓΡΑΦΗ ΣΤΟ ΣΥΝΕΔΡΙΟ</a>
        <a href="{% url 'contact_us' %}" class="btn btn-light cta-btn">ΕΟΙΚΟΙΝΩΝΙΑ</a>
    </div>
</section>

{% endblock %}