{% extends "base.html" %}

{% load static %}

{% url 'conference_info' as conference_info_url %}
{% url 'conference_schedule' as conference_schedule_url %}
{% url 'registration' as registration_url %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-around">
        {% if speakers %}
            {% for speaker in speakers %}
            <div class="card m-4 speakers-card">
                <div class="row g-0">
                    <div class="col-md-4">
                        {% if 'placeholder' in speaker.photo.url %}
                        <img src="{% static 'images/default_speaker_image_neutral.png' %}" class="img-fluid rounded-start" alt="Default Image for Speaker">
                        {% else %}
                        <img src="{{ speaker.photo.url }}" class="img-fluid rounded-start" alt="Image of {{ speaker.name }}">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ speaker.name }}</h5>
                            <p class="card-text"><small class="text-body-secondary">{{ speaker.title }}</small></p>
                            <div class="card-text">{{ speaker.bio | safe }}</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <h1 class="mt-5 fst-italic">Οι Ομιλητές του συνεδρίου<br> θα ανακοινωθούν <br>σύντομα...</h1>
        {% endif %}
    </div>
    <div class="row">
        <div class="col d-flex flex-column  justify-content-around my-5">
            <a href="{% url 'conference_info' %}" class="btn btn-light cta-btn">ΠΛΗΡΟΦΟΡΙΕΣ ΣΥΝΕΔΡΙΟΥ</a>
            <a href="{% url 'conference_schedule' %}" class="btn btn-light cta-btn">ΠΡΟΓΡΑΜΜΑ ΣΥΝΕΔΡΙΟΥ</a>
            <a href="{% url 'registration' %}" class="btn btn-light cta-btn">ΕΓΓΡΑΦΗ ΣΤΟ ΣΥΝΕΔΡΙΟ</a>
        </div>
    </div>
</div>

{% endblock %}