/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* -------------------------------- General styles --------------------------- */
body {
    background: url(../images/backround_image.png) no-repeat center center fixed;
    background-size: cover;
    color: #4b4a54;
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    color: #4b4a54;
    text-align: center;
}

.cta-btn {
    border: 1px solid #fff5ff;
    background-color: #fff5ff;
    color: #4b4a54;
    padding: 10px 2px;
    margin: 1rem;
    font-size: small;
    text-decoration: none;
    width: 200px;
    box-shadow: 10px 10px 5px;
}

section {
    margin: 2rem 0;
}

/* -------------------------------- Home page styles --------------------------- */
#home-row-div {
    height: 100vh;
}

#home-logo {
    height: 10rem;
}

#nav-div {
    background-color: #fff5ff;
    border: 2px solid #fff5ff;
    margin-right: 5rem;
}

.home-links {
    margin: 10px 5px;
}

#social-links-span {
    margin-bottom: 15px;
}

.social-icons:hover {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.association-name {
    letter-spacing: 5px;
    margin-top: 2rem;
}

#cta-home-btn {
    width: 250px;
}

/* -------------------------------- NavBar styles --------------------------- */
.bg-body-tertiary {
    background-color: transparent !important;
}

.to-center-navbar {
    display: flex;
    justify-content: center;
}

.active {
    font-weight: bold;
}

/* -------------------------------- About Us styles --------------------------- */

/* -------------------------------- Conference Info styles --------------------------- */
.accordion-item {
    color: #4b4a54;
    background-color: transparent;
    border-color: transparent;
}

#accordionPanelsStayOpenExample {
    padding-left: 5rem;
    padding-right: 5rem;
}

/* -------------------------------- Speakers styles --------------------------- */
.speakers-card {
    max-width: 540px;
    background-color: transparent;
    border: none;
}

.card-title, .card-text {
    color: #272437;
}

/* --------------------------------Sponsors styles --------------------------- */
.sponsors-cards {
    background-color: transparent;
    border: none;
}

#card-1 {
    background-color: #acc6e6;
    color: #4b4a54;
}

#card-2 {
    background-color: #ffeb9c;
    color: #4b4a54;
}

#card-3 {
    background-color: #ffd7e2;
    color: #4b4a54;
}

#card-4 {
    background-color: #b4fade;
    color: #4b4a54;
}

/* -------------------------------- Contact Us styles --------------------------- */
#contact-us-row {
    height: 100vh;
}

.contact-us-images {
    height: 5rem;
}

/* -------------------------------- Media Queries --------------------------- */
@media (max-width: 992px) {
    .to-center-navbar {
        justify-content: start;
    }
}

@media (max-width: 767px) {
    #contact-us-row {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #location {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    #accordionPanelsStayOpenExample {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    iframe {
        width: 300px;
        padding-right: 25px;
    }
}

@media (max-width: 610px) {
    #nav-div {
        margin: 1.5rem 5rem;
    }

    #home-container {
        margin-top: 3rem;
    }

    canvas {
        margin: 0rem -1rem;
    }
}

@media (max-width: 500px) {
    #nav-div {
        margin: 1rem 2rem;
    }
}