{% extends "base.html" %}

{% load static %}

{% url 'sponsors' as sponsors_url %}
{% url 'conference_info' as conference_info_url %}
{% url 'contact_us' as contact_us_url %}

{% block content %}

<section class="mb-0" id="title">
    <div class="container-fluid">
        <div class="row justify-content-center animate__animated animate__zoomIn animate__slow">
            <div class="col-9">
                <h2 class="text-center my-5">Χορηγικές Δυνατότητες και Χορηγικά πακέτα</h2>
                <p class="my-5">
                    Με χαρά σας προσκαλούμε να γίνετε χορηγοί στο Ιατρικό Συνέδριο του Συνδέσμου Γονέων και Φίλων Καρδιοπαθών Παιδιών.
                    Το Συνέδριο θα αποτελέσει σημαντική διοργάνωση στην Παιδιατρική Καρδιολογία, φέρνοντας κοντά ειδικούς για την 
                    ανταλλαγή γνώσεων και τις τελευταίες εξελίξεις στη φροντίδα των παιδιών.<
                    Η υποστήριξή σας θα συμβάλει στην επιτυχία του και θα ενισχύσει την υγειονομική περίθαλψη των παιδιών. 
                    Ως Χορηγοί, θα προβάλετε την εταιρεία σας σε ένα εξειδικευμένο κοινό.
                    Θα είναι τιμή μας να σας έχουμε μαζί μας, συμβάλλοντας στη βελτίωση της παιδιατρικής υγείας.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="my-0 pt-0" id="benefits">
    <div class="container-fluid animate__animated animate__fadeInLeft animate__slow">
        <div class="row">
            <div class="col">
                <h3 class="text-center my-5">Οφέλη Χορηγού</h3>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card" id="card-1">
                    <div class="card-body">
                        <h5 class="card-title">ΑΥΞΗΣΗ ΑΝΑΓΝΩΡΙΣΙΜΟΤΗΤΑΣ ΣΤΗΝ ΠΑΙΔΙΑΤΡΙΚΗ KAI ΚΟΙΝΟΤΗΤΑ ΤΗΣ ΚΥΠΡΟΥ</h5>
                        <p class="card-text">
                            Τόσο οι δυνατότητες προβολής σας την ημέρα του Συνεδρίου με φυσική παρουσία των εκπροσωπών σας, όσο και
                            η διαδικτυακή προβολή της εταιρείας σας κατά την περίοδο Οργάνωσής του, θα συμβάλλουν σημαντικά και
                            ουσιαστικά στην αυξημένη προβολή και αναγνωρισιμότητα της εταιρείας σας από την Ιατρική
                            Κοινότητα της Κύπρου.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="card-2">
                    <div class="card-body">
                        <h5 class="card-title">ΑΞΙΟΠΙΣΤΙΑ</h5>
                        <p class="card-text">
                            Με τη συμμετοχή σας ως χορηγός, αποτυπώνεστε στη συνείδηση των συμμετεχόντων Παιδιάτρων, Ιατρών και
                            Επαγγελματιών Υγείας όλων των εμπλεκομένων ειδικοτήτων, ως μία εταιρία που επιδεικνύει δέσμευση στο
                            να προσφέρει τα καλύτερα δυνατά αποτελέσματα για την υγεία των παιδιών και τη βελτίωση ποιότητας ζωής τους.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="card-3">
                    <div class="card-body">
                        <h5 class="card-title">ΧΤΙΣΙΜΟ ΔΙΑΠΡΟΣΩΠΙΚΩΝ ΣΧΕΣΕΩΝ</h5>
                        <p class="card-text">
                            Δυνατότητες δικτύωσης με κορυφαίους επιστήμονες και
                            επαγγελματίες στον τομέα της Παιδιατρικής Καρδιολογίας.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="card-4">
                    <div class="card-body">
                        <h5 class="card-title">ΣΤΟ ΕΠΙΚΕΝΤΡΟ ΤΩΝ ΕΞΕΛΙΞΕΩΝ</h5>
                        <p class="card-text">
                            Μία εξαιρετική ευκαιρία για να συγκεντρώσετε πληροφορίες για τις καθημεμρινές 
                            ανάγκες των Ιατρών και τις προοπτικές βελτίωσης των προκλήσεων που 
                            αντιμετωπίζει καθημερινά ο συγεκριμένος κλάδος.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ms-3 mt-5">
            <h5>Πατήστε 
                <a href="https://mk-premium.com/wp-content/uploads/2022/12/Ιατρικό-Συνέδριο-Συνδέσμου-Γονέων-και-Φίλων-Καρδιοπαθών-Παιδιών-ΧΟΡΗΓΙΚΕΣ-ΔΥΝΑΤΟΤΗΤΕΣ.pdf " tragt=_blank>εδώ </a>
                για να δείτε τις διαθέσιμες χορηγικές δυνατότητες και χορηγικά πακέτα.
            </h5>
        </div>
</section>

<section id="sponsorship-packages"></section>

<section id="day-of-conference"></section>

<section id="during-organization"></section>

<section id="cta-buttons">
    <div class="row animate__animated animate__fadeInUp animate__slow">
        <div class="col d-flex flex-column align-items-center flex-md-row justify-content-around my-5">
            <a href="{% url 'sponsors' %}" class="btn btn-light cta-btn">ΧΟΡΗΓΟΙ</a>
            <a href="{% url 'conference_info' %}" class="btn btn-light cta-btn">ΠΛΗΡΟΦΟΡΙΕΣ ΣΥΝΕΔΡΙΟΥ</a>
            <a href="{% url 'contact_us' %}" class="btn btn-light cta-btn">ΕΠΙΚΟΙΝΩΝΙΑ</a>
        </div>
    </div>
</section>

{% endblock %}