{% extends "base.html" %}

{% load static %}

{% url 'sponsorships' as sponsorships_url %}
{% url 'conference_info' as conference_info_url %}
{% url 'contact_us' as contact_us_url %}

{% block content %}

<section id="sponsors-intro">
    <div class="container-fluid">
        <div class="row justify-content-center mt-4 animate__animated animate__zoomIn animate__slow">
            <div class="col-9">
                <h1 class="my-5">Παρουσιάζουμε τους Χορηγούς μας</h1>
                <p claass="my-5">
                    Έχουμε την τιμή να παρουσιάσουμε τους αξιότιμους χορηγούς του Ιατρικού μας Συνεδρίου, 
                    των οποίων η γενναιόδωρη υποστήριξη και η δέσμευσή τους για την προώθηση της παιδιατρικής 
                    και της υγείας της καρδιάς καθιστούν δυνατή αυτή την εκδήλωση.<br><br> Η συνεισφορά τους μας 
                    βοηθά να φέρουμε κοντά κορυφαίους επαγγελματίες υγείας, να προωθήσουμε την ανταλλαγή 
                    γνώσεων και να προωθήσουμε καινοτόμες λύσεις για παιδιά με καρδιακές παθήσεις. Ελάτε 
                    να εκφράσουμε την ευγνωμοσύνη μας σε αυτούς τους αφοσιωμένους συνεργάτες.
                </p>
            </div>
        </div>
    </div>
</section>

<section id=platinum>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h3>Πλατινένιος Χορηγός</h3>
            </div>
        </div>
        <div class="row justify-content-around">
            {% for sponsor in sponsors %}
            {% if sponsor.status == 1 %}
            <div class="card sponsors-cards" style="width: 18rem;">
                {% if sponsor.url == '' %}
                    {% if 'placeholder' in sponsor.logo.url %}
                    <p class="card-text">{{sponsor.name}}</p>
                    {% else %}
                    <img src="{{ sponsor.logo.url }}" class="card-img-top" alt="{{sponsor.name}}">
                    {% endif %}
                {% else %}
                    <a href="{{ sponsor.url }}" target="_blank">
                        {% if 'placeholder' in sponsor.logo.url %}
                        <p class="card-text">{{sponsor.name}}</p>
                        {% else %}
                        <img src="{{ sponsor.logo.url }}" class="card-img-top" alt="{{sponsor.name}}">
                        {% endif %}
                    </a>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section id=gold>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h3>Χρυσός Χορηγός</h3>
            </div>
        </div>
        <div class="row">
            {% for sponsor in sponsors %}
            {% if sponsor.status == 2 %}
            <div class="card sponsors-cards" style="width: 18rem;">
                {% if sponsor.url == '' %}
                    {% if 'placeholder' in sponsor.logo.url %}
                    <p class="card-text">{{sponsor.name}}</p>
                    {% else %}
                    <img src="{{ sponsor.logo.url }}" class="card-img-top" alt="{{sponsor.name}}">
                    {% endif %}
                {% else %}
                    <a href="{{ sponsor.url }}" target="_blank">
                        {% if 'placeholder' in sponsor.logo.url %}
                        <p class="card-text">{{sponsor.name}}</p>
                        {% else %}
                        <img src="{{ sponsor.logo.url }}" class="card-img-top" alt="{{sponsor.name}}">
                        {% endif %}
                    </a>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section id=silver>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h3>Αργυρός Χορηγός</h3>
            </div>
        </div>
        <div class="row justify-content-around">
            {% for sponsor in sponsors %}
            {% if sponsor.status == 3 %}
            <div class="card sponsors-cards" style="width: 18rem;">
                {% if sponsor.url == '' %}
                    {% if 'placeholder' in sponsor.logo.url %}
                    <p class="card-text">{{sponsor.name}}</p>
                    {% else %}
                    <img src="{{ sponsor.logo.url }}" class="card-img-top" alt="{{sponsor.name}}">
                    {% endif %}
                {% else %}
                    <a href="{{ sponsor.url }}" target="_blank">
                        {% if 'placeholder' in sponsor.logo.url %}
                        <p class="card-text">{{sponsor.name}}</p>
                        {% else %}
                        <img src="{{ sponsor.logo.url }}" class="card-img-top" alt="{{sponsor.name}}">
                        {% endif %}
                    </a>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section id=others>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h3>Χορηγοί</h3>
            </div>
        </div>
        <div class="row justify-content-around">
            {% for sponsor in sponsors %}
            {% if sponsor.status == 4 %}
            <div class="card sponsors-cards" style="width: 18rem;">
                {% if sponsor.url == '' %}
                    {% if 'placeholder' in sponsor.logo.url %}
                    <p class="card-text">{{sponsor.name}}</p>
                    {% else %}
                    <img src="{{ sponsor.logo.url }}" class="card-img-top" alt="{{sponsor.name}}">
                    {% endif %}
                {% else %}
                    <a href="{{ sponsor.url }}" target="_blank">
                        {% if 'placeholder' in sponsor.logo.url %}
                        <p class="card-text">{{sponsor.name}}</p>
                        {% else %}
                        <img src="{{ sponsor.logo.url }}" class="card-img-top" alt="{{sponsor.name}}">
                        {% endif %}
                    </a>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section id=cta-buttons>
    <div class="row">
        <div class="col d-flex flex-column align-items-center flex-md-row justify-content-around my-5">
            <a href="{% url 'sponsorships' %}" class="btn btn-light cta-btn">ΧΟΡΗΓΙΚΕΣ ΔΥΝΑΤΟΤΗΤΕΣ</a>
            <a href="{% url 'conference_info' %}" class="btn btn-light cta-btn">ΠΛΗΡΟΦΟΡΙΕΣ ΥΝΕΔΡΙΟΥ</a>
            <a href="{% url 'contact_us' %}" class="btn btn-light cta-btn">ΕΠΙΚΟΙΝΩΝΙΑ</a>
        </div>
    </div>
</section>

{% endblock %}