/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* -------------------------------- General styles --------------------------- */
body {
    background: url(../images/backround_image.png) no-repeat center center fixed;
    background-size: cover;
    color: #4b4a54;
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    color: #4b4a54;
    text-align: center;
    margin-top: 100px;
}

/* -------------------------------- Home page styles --------------------------- */
#home-row-div {
    height: 100vh;
}

#home-logo {
    height: 10rem;
}

#nav-div {
    background-color: #fff5ff;
    border: 2px solid #fff5ff;
    margin-right: 5rem;
}

.home-links {
    margin: 10px 5px;
}

#social-links-span {
    margin-bottom: 15px;
}

.social-icons:hover {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#association-name {
    letter-spacing: 5px;
    margin-top: 1rem;
}

#cta-home-btn {
    width: 250px;
}

/* -------------------------------- Media Queries --------------------------- */
@media (max-width: 610px) {
    #nav-div {
        margin: 1.5rem 5rem;
    }
}

@media (max-width: 500px) {
    #nav-div {
        margin: 1rem 2rem;
    }
}