{% extends "base.html" %}

{% load static %}

{% url 'conference_info' as conference_info_url %}

{% block content %}

<div class="container-fluid">
    <div class="row mt-5 mt-md-0 mx-1 mx-md-0 ms-md-3 flex-column flex-md-row  justify-content-center">
        <div class="col col-md-5 d-flex flex-column justify-content-center">
            <h2 class="mb-3">Τι κάνουμε</h2>
            <p>
                Ο Σύλλογος Γονέων και Φίλων Παιδιών με Καρδιοπάθεια είναι ένας Φιλανθρωπικός Μη 
                Κερδοσκοπικός Σύλλογος που παρέχει στήριξη, βοήθεια και εκπαιδευτικές υπηρεσίες 
                σε όλα τα άτομα με Συγγενείς Καρδιοπάθειες και τις οικογένειές τους. Ιδρύθηκε το 1985.
            </p>
            <p>
                Οργανώνει διάφορες δράσεις όπως ενημέρωση του κοινού για τις Συγγενείς Καρδιοπάθειες, 
                διαλέξεις με καλεσμένους ιατρούς από Κύπρο και εξωτερικό, εργαστήρια, προγράμματα σε 
                συνεργασία με διάφορους φορείς με τελικό στόχο τη βελτίωση της ποιότητας ζωής των 
                ατόμων με Συγγενείς Καρδιοπάθειες, εκδηλώσεις, κ.λπ.
            </p>
        </div>
        <div class="col col-md-5 text-center">
            <img src="{% static 'images/40_years_logo_new_400px.png' %}" alt="Logo for 40 years anniversary">
        </div>
    </div>
    <div class="row mx-1 mx-md-0 ms-md-3">
        <div class="col d-flex justify-content-center">
            <a class="btn btn-light cta-about-us" href="https://cardiac-association-851857e342e8.herokuapp.com/" target=_blank>ΕΠΙΣΚΕΦΘΗΤΕ ΤΗ ΣΕΛΙΔΑ ΜΑΣ</a>
            <a class="btn btn-light cta-about-us" href="{% url 'conference_info' %}">ΠΛΗΡΟΦΟΡΙΕΣ ΣΥΝΕΔΡΙΟΥ</a>
        </div>
    </div>
</div>

{% endblock content %}

{% block forJS %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}