{% extends "base.html" %}

{% load static %}

{% url 'conference' as conference_url %}
{% url 'contact_us' as contact_us_url %}
{% url 'home' as home_url %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Τι κάνουμε</h2>
            <p>
                Ο Σύλλογος Γονέων και Φίλων Παιδιών με Καρδιοπάθεια είναι ένας Φιλανθρωπικός Μη 
                Κερδοσκοπικός Σύλλογος που παρέχει στήριξη, βοήθεια και εκπαιδευτικές υπηρεσίες 
                σε όλα τα άτομα με Συγγενείς Καρδιοπάθειες και τις οικογένειές τους. Ιδρύθηκε το 1985.
            </p>
            <p>
                Οργανώνει διάφορες δράσεις όπως ενημέρωση του κοινού για τις Συγγενείς Καρδιοπάθειες, 
                διαλέξεις με καλεσμένους ιατρούς από Κύπρο και εξωτερικό, εργαστήρια, προγράμματα σε 
                συνεργασία με διάφορους φορείς με τελικό στόχο τη βελτίωση της ποιότητας ζωής των 
                ατόμων με Συγγενείς Καρδιοπάθειες, εκδηλώσεις, κ.λπ.
            </p>
            <div>
                <a class="cta-about-us" href="#">ΕΠΙΣΚΕΦΘΗΤΕ ΤΗ ΣΕΛΙΔΑ ΜΑΣ</a>
                <a class="cta-about-us" href="#">ΠΛΗΡΟΦΟΡΙΕΣ ΣΥΝΕΔΡΙΟΥ</a>
            </div>
        </div>
        <div class="col">
            <img src="{% static 'images/40_years_logo_new_500px.png' %}" alt="Logo for 40 years anniversary">
        </div>
    </div>
</div>

{% endblock %}