{% extends "base.html" %}

{% load static %}

{% url 'conference_info' as conference_info_url %}
{% url 'conference_schedule' as conference_schedule_url %}
{% url 'registration' as registration_url %}
{% url 'contact_us' as contact_us_url %}

{% block content %}

<div class="container-fluid animate__animated animate__fadeInDown animate__slower">
    <div class="row mt-5 mt-md-0 mx-1 mx-md-0 ms-md-3 flex-column flex-md-row  justify-content-center">
        <div class="col col-md-5 d-flex flex-column justify-content-center">
            <h2 class="mb-3">Χαιρετισμός Προέδρου</h2>
        </div>
        <div class="col col-md-5 text-center" style="height: 400px;"></div>
    </div>
</div>

{% endblock content %}

{% block forJS %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}