{% extends "base.html" %}

{% load static %}

{% url 'conference_info' as conference_info_url %}
{% url 'sponsors' as sponsors_url %}
{% url 'about_us' as about_us_url %}

{% block content %}

<div class="container-fluid">
    <div class="row mb-5 animate__animated animate__zoomIn animate__slow">
        <div class="col">
            <h2 class="my-5 text-center">Χαιρετισμός Προέδρου</h2>
            <div class="mx-4 my-2">
                {% for message in messages %}
                {%if message.status == 1%}
                {{ message.message | safe }}
                {%endif%}
                {% endfor %}
            </div>
        </div>
    </div>
    <hr class="mx-4 opacity-100">
    <div class="row mt-5">
        <div class="col">
            <h2 class="my-5 text-center">Χαιρετισμός Προέδρου Ιατρικού Συνεδρίου & Οργανωτικής Επιτροπής</h2>
            <div class="mx-4 my-2">
                {% for message in messages %}
                {%if message.status == 2%}
                {{ message.message | safe }}
                {%endif%}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col d-flex flex-column align-items-center flex-md-row justify-content-around my-5">
                <a href="{% url 'about_us' %}" class="btn btn-light cta-btn">ΣΧΕΤΙΚΑ ΜΕ ΜΑΣ</a>
                <a href="{% url 'conference_info' %}" class="btn btn-light cta-btn">ΠΛΗΡΟΦΟΡΙΕΣ ΣΥΝΕΔΡΙΟΥ</a>
                <a href="{% url 'sponsors' %}" class="btn btn-light cta-btn">ΧΟΡΗΓΟΙ ΚΑΙ ΥΠΟΣΤΗΡΙΚΤΕΣ</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}