{% extends "base.html" %}

{% load static %}

{% url 'conference_info' as conference_info_url %}
{% url 'conference_schedule' as conference_schedule_url %}
{% url 'registration' as registration_url %}
{% url 'contact_us' as contact_us_url %}

{% block content %}

<div class="container-fluid animate__animated animate__fadeInDown animate__slower">
    <div class="row mb-5">
        <div class="col">
            <h2 class="my-5 text-center">Χαιρετισμός Προέδρου</h2>
            <div class="mx-4 my-2">
                {% for message in messages %}
                {%if message.status == 1%}
                {{ message.message | safe }}
                {%endif%}
                {% endfor %}
            </div>
        </div>
    </div>
    <hr class="mx-4 opacity-100">
    <div class="row mt-5">
        <div class="col">
            <h2 class="my-5 text-center">Χαιρετισμός Προέδρου Ιατρικού Συνδέσμου & Οργανωτικής Επιτροπής</h2>
            <div class="mx-4 my-2">
                {% for message in messages %}
                {%if message.status == 2%}
                {{ message.message | safe }}
                {%endif%}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}